@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #000;
  margin: 0px;
}

html, body, #root, #root > div {
  height: 100%;
}

/* Generic Styles */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  background-color: white;
}

.form h2, div, button {
  margin-bottom: 5px;
}

.form-input {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 3px 5px;
  border-radius: 50px;
}

.img {
  max-width: 100%;
}

.hidden {
  display: none
}

.mask {
  display: block;
  position: fixed;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Login Form */

.login-form {
  position: absolute;
  right: 20px;
  top: 30%;
  width: fit-content;
}

.login-form-btns {
  display: flex;
  justify-content: space-between;
}

/* Registration Form */

.registration-form {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  z-index: 2;
}

/* Landing Page */

.landing-page {
  background-image: url('img/test.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
